@page "/videos"
@rendermode InteractiveServer
@inject IConfiguration configuration

<PageTitle>Video</PageTitle>

<h1>Video</h1>

<div>
    <label for="width">Width:</label>
    <input id="width" @bind="Width" type="number" min="1" max="500" step="1" />px
</div>

<div>
    <label for="height">Height:</label>
    <input id="height" @bind="Height" type="number" min="1" max="500" step="10" />px
</div>

<video controls style="object-fit: fill; width:@(Width)px; height:@(Height)px;">
    <source src="@($"{configuration["videosservice"]}/videos/myVideo.mp4")" type="video/mp4">
</video>

@code {
    private int Width { get; set; } = 300;
    private int Height { get; set; } = 200;
}
